HEYMAIL_UID=1000
HEYMAIL_GID=1000

POSTGRES_DB=heymail
POSTGRES_USER=heymail_admin

HEYMAIL_API_URI=https://api.example.com
HEYMAIL_CONSOLE_DOMAIN=console.example.com
HEYMAIL_BOUNCE_DOMAIN=bounce.example.com

HEYMAIL_SEND_QUOTA_PER_HOUR=600
OVH_DNS_ZONE=example.com
HEYMAIL_PUBLIC_IPV4=51.91.126.247
