global
    log stdout format raw local0

defaults
    log global
    mode tcp
    timeout connect 3s
    timeout client 30s
    timeout server 30s

frontend capture_smtp
    bind :1025
    default_backend mailpit_smtp

backend mailpit_smtp
    server mailpit capture:1025 check

frontend capture_ui
    bind :8025
    default_backend mailpit_ui

backend mailpit_ui
    server mailpit capture:8025 check
